<md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Modelo</label>
        <md-icon>label_outline</md-icon>
        <input ng-model="model.name" type="text">
    </md-input-container>
    <md-input-container class="md-icon-float md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Nombre</label>
        <md-icon>label</md-icon>
        <input ng-model="model.name" type="text">
    </md-input-container>
    <div layout="row">
        <md-input-container flex="50">
            <label>Client Name</label>
            <input required name="clientName" ng-model="project.clientName">
            <div ng-messages="projectForm.clientName.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>

        <md-input-container flex="50">
            <label>Project Type</label>
            <md-select name="type" ng-model="project.type" required>
                <md-option value="app">Application</md-option>
                <md-option value="web">Website</md-option>
            </md-select>
        </md-input-container>
    </div>
    <md-input-container md-no-float class="md-block">
        <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
        <input ng-model="user.phone" type="text" placeholder="Phone Number">
    </md-input-container>

    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
        <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>

    <md-input-container md-no-float class="md-block">
        <input ng-model="user.address" type="text" placeholder="Address" >
        <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
    </md-input-container>

    <md-input-container class="md-icon-float md-icon-right md-block">
        <label>Donation Amount</label>
        <md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>
        <input ng-model="user.donation" type="number" step="0.01">
        <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
    </md-input-container>

</md-content>